<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Főoldal{% endblock %}</title>
        
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/templates/main.css" />

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="/js/templates/script.js"></script>
        {% endblock %}

        <script type="text/javascript" src="/js/bootstrap.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"> </div>
                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12" id="main-container">
                    <table id="menu">
                        <tr>
                            <td class="links" {% block id1 %}{% endblock %}><a href="{{ path('address') }}">Számlázási címeim</a></td>
                            <td class="links" {% block id2 %}{% endblock %}><a href="{{ path('place_order') }}">Megrendelés</a></td>
                            <td class="links" {% block id3 %}{% endblock %}><a href="{{ path('address') }}">Megrendelések listázása</a></td>
                        </tr>
                    </table>

                    <div style="margin: 0 1%;">
                        {% block body %}{% endblock %}
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"> </div>
            </div>
        </div>
    </body>
</html>
